---
import BaseLayout from "@layouts/BaseLayout.astro";
import Cta from "@components/Cta.astro";
---

<BaseLayout title="About">
  <section>
    <div
      class="container mx-auto px-5 py-10 lg:py-20 flex flex-col lg:flex-row gap-16 max-w-7xl"
    >
      <div class="rounded-2xl shadow-lg overflow-hidden relative lg:w-1/2">
        <img
          src="udaipur.jpg"
          alt=""
          height={587}
          width={571}
          class="relative w-full"
        />

        <div class="bg-violet-400/30 absolute top-0 left-0 w-full h-full"></div>
      </div>
      <div class="lg:w-1/2">
        <h1 class="text-text font-bold text-5xl">About Us</h1>
        <p class="text-justify mt-8">
          Founded in 2003, Rushat International pioneered the art of Djembe
          manufacturing in India. Over the years, this sparked the rise of
          vibrant Drum Circle communities across Indian cities, where drummers
          come together to create music, celebrate life, and share joy. Beyond
          its rhythmic beats, the Djembe has become a powerful tool for
          re-energizing, de-stressing, and even healing through therapeutic
          practices.
        </p>
        <p class="text-justify mt-4">
          Now, after more than two decades of growth and musical exploration, we
          are proud to unveil our new identity: StarJam. This rebranding
          reflects our journey, honoring the legacy of well-crafted Indian
          Djembes by Star Music while embracing the future with fresh energy and
          purpose. StarJam isn't just a name—it's a celebration of rhythm,
          community, and the timeless power of music.
        </p>
      </div>
    </div>
  </section>
  <Cta />
</BaseLayout>
