---
import BaseLayout from "@layouts/BaseLayout.astro";
import Cta from "@components/Cta.astro";
---

<BaseLayout title="About">
    <section>
        <div
            class="container mx-auto px-5 py-10 lg:py-20 flex flex-col lg:flex-row gap-16 max-w-7xl"
        >
            <div
                class="rounded-2xl shadow-lg overflow-hidden relative lg:w-1/2"
            >
                <img src="/udaipur.jpg" alt="" class="relative w-full" />
                <div
                    class="bg-violet-400/30 absolute top-0 left-0 w-full h-full"
                >
                </div>
            </div>
            <div class="lg:w-1/2">
                <h1 class="text-text font-bold text-5xl">About Us</h1>
                <p class="text-justify mt-8">
                    Established in 2003, Rushat International was the first
                    company to start manufacturing Djembe in India. Since then,
                    active Drum Circle communities have sprung up in many Indian
                    cities, where drummers gather to make music and merry. Apart
                    from the re-energizing and de-stressing effects of playing
                    the Djembe, it is also used for healing and therapeutic
                    purposes.
                </p>
                <p class="text-justify mt-4">
                    Now, after 20 years in this journey, and with a new name,
                    StarJam aspires to add an essence of legacy to the existing
                    reputation of well-crafted Indian Djembe by Star Music.
                </p>
            </div>
        </div>
    </section>
    <Cta />
</BaseLayout>
