---
import Button from "@components/Button.astro";
---

<img
    src="/dictionary.png"
    alt="Djembe dictionary meaning"
    class="hidden lg:block z-10 max-w-xs w-full object-contain drop-shadow-lg absolute right-5 bottom-20 transition-all hover:scale-125 duration-300"
    style="transform-origin: bottom right;"
/>
<section
    class="relative z-0 bg-[url(/hero.jpg)] bg-cover bg-no-repeat bg-[center_right_-10rem] lg:bg-right"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%)"
>
    <div class="lg:bg-black/0 bg-black/50">
        <div
            class="container mx-auto px-5 py-10 lg:py-20 min-h-[85vh] text-violet-50 flex items-center flex-col justify-center lg:items-start text-center lg:text-left"
        >
            <h1 class="font-black text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
                Unleash Your <br /> Rhythm with <br /> StarJam
            </h1>
            <p class="mt-4 text-lg text-violet-200 max-w-sm">
                Discover the Power of Drumming. Embrace Your Inner Beat. Ignite
                Your Passion for Music.
            </p>
            <div
                class="flex items-center justify-center lg:justify-start text-center gap-4 mt-8"
            >
                <Button href="/products" intent="primary" rounded="md">
                    Explore Products
                </Button>
                <Button href="/contact" intent="ghost" rounded="md">
                    Contact Us
                </Button>
            </div>
        </div>
    </div>
</section>
