---
---

<section
    class="overflow-hidden bg-gradient-to-r from-violet-100 to-violet-100 via-violet-300 relative"
>
    <h2 class="sr-only">Testimonials</h2>
    <div
        class="max-w-6xl container mx-auto px-5 py-10 lg:py-16 flex items-center justify-between lg:gap-16"
    >
        <div><i class="fas fa-chevron-left fa-3x text-violet-500"></i></div>
        <div class="flex-1 max-w-2xl text-center relative">
            <i
                class="text-violet-400/20 -top-16 left-0 absolute fa-solid fa-quote-left text-9xl"
            ></i>
            <i
                class="-bottom-16 right-0 text-violet-50/20 absolute fa-solid fa-quote-right text-9xl"
            ></i>
            <blockquote class="text-balance">
                I've been using StarJam drums in my music classes for years. The
                sound quality and craftsmanship are unparalleled. My students
                love playing them, and the durability ensures they last for
                years of use.
            </blockquote>
            <h3 class="text-xl font-bold mt-4">Sarah Thompson</h3>
            <span class="text-sm text-violet-950">Music Educator</span>
        </div>
        <div><i class="fas fa-chevron-right fa-3x text-violet-500"></i></div>
        <ul
            class="mt-8 flex items-center justify-center gap-3 absolute bottom-8 left-1/2 -translate-x-1/2"
        >
            <li class="rounded-full h-4 w-4 border-black border-2 bg-black">
            </li>
            <li class="rounded-full h-4 w-4 border-black border-2"></li>
            <li class="rounded-full h-4 w-4 border-black border-2"></li>
        </ul>
    </div>
</section>
