---
import { twMerge } from "tailwind-merge";

const navLinks = [
    { text: "Home", href: "/" },
    { text: "About", href: "/about" },
    { text: "Products", href: "/products" },
    { text: "Contact", href: "/contact" },
];
const pathname = new URL(Astro.request.url).pathname;

const isNavActive = (href) => {
    if (href === "/" && pathname === "/") return true;
    if (href === "/" || pathname === "/") return false;
    return pathname.includes(href);
};

const active =
    "after:content-[''] after:block after:h-1  after:bg-primary relative after:absolute after:-bottom-1  after:rounded-full after:w-4 after:left-1/2 after:-translate-x-1/2";
const notActive = "";
---

<header class="bg-white shadow">
    <div
        class="container mx-auto px-5 py-5 flex flex-col md:flex-row gap-2 justify-between items-center"
    >
        <a href="/">
            <span class="text-lg font-bold">StarJam</span>
        </a>
        <nav class="flex items-center gap-4 md:gap-8">
            {
                navLinks.map((link) => (
                    <a
                        href={link.href}
                        class={isNavActive(link.href) ? active : notActive}
                    >
                        {link.text}
                    </a>
                ))
            }
        </nav>
    </div>
</header>
