---
import BaseLayout from "@layouts/BaseLayout.astro";
import Cta from "@components/Cta.astro";
import hygraph from "@js/hygraph";
import ProductCard from "@components/ProductCard.astro";
const convertData = (data) => {
  return data.map((item) => {
    const { title, subtitle, image, slug, index, url } = item;
    return {
      heading: title,
      subheading: subtitle,
      image: image.url,
      link: `/products/${slug}`,
      index,
      url,
    };
  });
};

const data = await hygraph("products");
const products = await convertData(data);
---

<BaseLayout title="Products">
  <section>
    <div class="container mx-auto px-5 py-10 lg:py-20">
      <h1 class="text-text font-bold text-5xl text-center">Products</h1>
      <div
        class="grid grid-cols-2 lg:grid-cols-3 mt-20 lg:mt-24 gap-x-8 gap-y-16 max-w-7xl mx-auto"
      >
        {
          products
            .sort((a, b) => a.index - b.index)
            .map((product) => <ProductCard {product} />)
        }
      </div>
    </div>
  </section>
  <Cta />
</BaseLayout>
