---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@css/tailwind.css";
interface Props {
    title: string | null;
    description: string | null;
}

const { title = "", description = "" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title && `${title} • `}StarJam</title>
        <meta name="description" content={description} />
        <link rel="shortcut icon" href="//gavn.in/fav" type="image/x-icon" />
    </head>
    <body class="min-h-screen flex flex-col bg-violet-50 font-manrope">
        <Header />
        <main class="flex-1">
            <slot />
        </main>
        <Footer />
    </body>
</html>
